*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

html,body{
  scroll-behavior: smooth;
  /* font-family: 'Dancing Script', 'cursive'; */
  /* background-image: url(/src/components/bg.jpg); */
}

button, input{
  outline-style: none;
  transition: 0.8s ease-in-out;
}

.main{
  background-image: url(/src/components/bg.jpg);
  opacity:0.8;
  z-index: 10;
}

.hero-btn{
  width:fit-content;
}

