*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

html,body{
  scroll-behavior: smooth;
  /* font-family: 'Dancing Script', 'cursive'; */
  /* background-image: url(/src/components/bg.jpg); */
}

button, input{
  outline-style: none;
  transition: 0.8s ease-in-out;
}

.main{
  background-image: url(/src/components/bg.jpg);
  opacity:0.8;
  z-index: 10;
}

.hero-btn{
  width:fit-content;
}

@media screen and (max-width:400px) {
  .cont{
    padding:20px;
  }

  .text-base{
    font-size: 0.85rem;
  }

  button{
    padding:10px !important;
  }
}

@media screen and (max-width:300px) {
  .header{
    padding:0.75rem 1rem;
  }

  .text-lg{
    font-size: 1rem;
  }

  .text-2xl {
    font-size: 1.2rem;
  }

  .text-xl {
    font-size: 1.1rem;
  }

  button{
    font-size: 12px;
  }
}